body{
    background: #f5f6f7;
    color: black;
    font-family: Helvetica;
    margin:0;
}
header{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #1b1b32;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}
h1{
    color: #97412c;
    font-size: min(5vw,1.2em);
    text-align: center;
}
main{
    padding-top: 35px;
}
section{
    max-width: 600px;
    margin:0  auto 10px auto;
}
nav{
    width: 50%;
    max-width: 300px;
    height: 50px;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    color:#97412c;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
nav >ul >li{
    color:#dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}
nav li:hover{
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}
li > a{
    color: white;/*color:inherit*/
    text-decoration: none;
}
h1, h2{
    font-family:Verdana Tahoma;/*adding border and font to the headings*/
}
h2{
    border-bottom: 4px solid #dfdfe2;
    padding-top: 50px;
    margin-top: 0;
}
.info{
    padding: 10px 0 0 10px;
}
.formrow{
    padding:0 20px;
    margin-top: 30px;
}
input{
    font-size:20px;
}
.info > input{
    width:50%;
    text-align:left;
}
.info label{
    min-width:55px;
    width:10%;
}
.info label, .info input{
    display: inline-block;
    text-align: left;
}
.question-block{
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
}
.question{
    padding-bottom:0;
    border:none;
   
}
.answers-list{
    list-style:none;
    padding:0;
}
button{
    display: block;
    font-size: 30px;
    padding: 20px;
    background: #bbbbbf;
    width:50%;
    margin: 40px auto;
    border: 3px solid #3b3b4f;
}

p{
    margin-top:5px;
    padding-left:10px;
    font-size:20px;
}
p::before{
    content: 'Question #';
}
footer{
    background-color:#2a2a40;
    color:white;
    justify-content: center;
    display: flex;
    text-align:center;
}
@media(prefers-reduced-motion:no-preference){*{
    scroll-behavior:smooth;
}
}
.sr-only{
    /*used to hide screen reader only text*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}